.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 1em;
}

.card {
    text-align: initial;
    margin: auto;
}

.col-lg {
    padding: 1em;
}
